Textures[[:space:]]and[[:space:]]images/**/*.png filter=lfs diff=lfs merge=lfs -text
Textures[[:space:]]and[[:space:]]images/**/*.obj filter=lfs diff=lfs merge=lfs -text
Textures[[:space:]]and[[:space:]]images/**/*.raw filter=lfs diff=lfs merge=lfs -text
